
.icon-image {
    width: 80px;
    height: 80px;
  }

  .icon-form {
  display: flex;
  gap: 75px; /* Adjust the gap between sections */
  }
  
  .icon-section {
    max-width: 400px; /* Adjust the maximum width of each section as needed */
  }

  .icon-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between icons */
  }

  button[type="submit"] {
    color: black;
    background-color: white;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Optional: Add padding for better visibility */
    border: 1px solid #ccc; /* Optional: Add a border at the top of the footer */
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
  }