.pacenote-list-container {
    max-height: 600px;
    overflow-y: auto;
  }

  .pacenote-list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pacenote-list-container li {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .icon-container {
    display: flex;
    align-items: center;
  }

  .icon-container img {
    margin-right: 5px;
  }
  
  .list-image {
    width: 40px; 
    height: 40px;
  }  

  .additional-note {
    margin-left: 50px;
  }