.pacenote-list-container {
    max-height: 600px; /* Set a maximum height for the list container */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
  }

  .pacenote-list-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pacenote-list-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .icon-container {
    display: flex;
    align-items: center;
  }

  .icon-container img {
    margin-right: 5px; /* Adjust the margin between icons */
  }
  
  .list-image {
    width: 40px; 
    height: 40px;
  }  