.stages-container {
    max-height: 800px;
    overflow-y: auto;
    width: 100%;  
  }

  .stage-list {
    list-style-type: none;
    padding: 0;
   }
  
  .stage-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
  }
  
  .stage-name {
    padding: 8px;
  }
  
  .stage-actions {
    display: flex;
    gap: 8px;
  }

  .list-width {
    width: 80%;
  }